* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
}

.text--h1 {
    font-size: 36px;
    font-weight: 700;
    color: #18181B;
}

.text--body-lg {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: #52525A;
}

.text--body-md {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #52525A;
}

.text--body-md-strong {
    font-size: 16px;
    font-weight: 700;
    color: #18181B;
}

.text--caption {
    font-size: 14px;
    font-weight: 400;
    color: #52525A;
}

.reviewers__container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 250px;
}

.reviewers__icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C044;
    border-radius: 50%;
}

.star {
    width: 25px;
    height: 25px;
}

.reviewers__header {
    max-width: 560px;
    margin-top: 20px;
}

.reviewers__title {
    margin-bottom: 15px;
}

.reviewers__checklist {
    list-style: none;
    margin-top: 30px;
}

.reviewers__checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.reviewers__checklist-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.reviewers__cards {
    width: 100%;
    max-width: 570px;
    display: flex;                  
    flex-direction: column;  
    align-items: center;        
    justify-content: space-between;
}

.card {
    width: 100%;
    max-width: 360px;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
}

.card__header {
    gap: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card__author {
    margin-bottom: 7px;
}

.card--google {
    align-self: flex-end;
}

.card--meta {
    align-self: flex-start;
}

@media (max-width: 1024px) {
    .reviewers__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh 0;
        gap: 1.5rem;
    }
    .reviewers__header {
        max-width: 100%;
    }
    .reviewers__cards {
        gap: 2rem;
    }
}

@media (max-width: 640px) {
    .reviewers__container {
        margin: 2vh -2.5vh;
        gap: 1.5rem;
    }
    .reviewers_cards {
        gap: 10rem;
    }
    .card {
        max-width: 100%;
    }
}